/* line 42, icons/*.png */
.icons-sprite {
  background: url('/images/icons-sb852325fe3.png') no-repeat;
}

/* line 10, ../sass/project.scss */
body {
  font-family: 'Raleway', helvetica, arial;
  color: #333333;
  background-color: #ffe;
  height: 100%;
  width: 100%;
  max-width: 960px;
  padding: 10px;
  margin: 0 auto;
}

/* line 25, ../sass/project.scss */
#title h1 {
  text-align: center;
}

/* line 33, ../sass/project.scss */
#video iframe {
  margin: 0 auto;
  display: block;
}

/* line 40, ../sass/project.scss */
.category {
  color: #aaaaaa;
}

/* line 45, ../sass/project.scss */
.content {
  margin-top: -10px;
}
